<div class="card">
  <%# if user_signed_in? %>
  <%= link_to image_tag prototype.image, class: 'prototype-image' %> <%# if message.image.attached? %>
  <div class="card__body">
    <%# render partial: 'card__body', collection: @cards__body %>
     
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title %>
    <%# image_tag message.image, class: 'message-image' if message.image.attached? %> 
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.user.name, prototype_path(prototype.id), method: :get, class: :card__user %>
  </div>
</div>